lib/chai_weights/
lib/chai_cache/
servers/

valid_remapped
lig_test
dataset.pkl
run_digs.sh
# *.pdb
.vscode
slurm_logs/
**/output/
**/outputs/
*/notebooks/
*/models/
__pycache__/
*/run_scripts/
unit_tests/
ruff.toml
*/scratch/
*/wandb/
rf2aa/dataset_20240318.pkl
*.csv
*.err
*.log
*.sublime-workspace
/*.pdb
/rf_diffusion/*.pdb
/rf_diffusion/samples/
/doc/build
/doc/source/api
pytest*.log
slurm_logs_*
.vscode
.env
*.ipynb
data/run.sh
.cache
.hypothesis
_pytest_tmp_*
rf_diffusion/tmp
rf_diffusion/debug
doc/build
doc/source/api/
doc/source/rf_diffusion.conditions.rst
doc/source/rf_diffusion.inference.rst
doc/source/rf_diffusion.observer.rst
doc/source/rf_diffusion.rst
doc/source/rf_diffusion.sym.rst
doc/source/rf_diffusion.test_seq_diff.rst
doc/source/rf_diffusion.viz.rst
.envrc
*.egg-info
_*_tests
_notes
unidealized
.yapf_hash
jobs.list*
\#*
*\#
rf_diffusion/open_source_tests/
rf_diffusion/test_outputs/

**/*.sif
**/*.pt
